/*Mise en forme Widget Simplicy post */
/*Largeur du widget*/
.SP-post { width:100%;} 
/* Couleur des liens */
.SP-post a { color:#333333; } 
/* Mise en forme des liens*/
.SP-post a:hover { text-decoration:none; } 
/* Alignement du texte */

/* Mise en forme image alignement, bordure , marge */
.simplicy-post-img { 
padding:3px;
margin-top:5px;
margin-right:5px;
display: inline;
border: #ededed solid 1px;
background-color:#ededed;

}
.wp-caption-text-simplicy { font-size:11px; font-style:italic; margin-bottom:8px; float:left; clear:both;} 
.simplicy-post-title{ font-weight:bold; margin-bottom:5px; margin-top:5px; !important }
 /* Séparation et espace entre les articles */
.simplicy-post-content{ 
border-bottom: dashed 1px #CCCCCC; 
clear:both; 
margin-top:20px;
width:98%;
}
.simplicy-post-gallery{  
clear:both; 
margin-top:20px;
}
.sp-read-link { clear:both; text-align:left; margin-top:8px;} 
.simplicy-post-clear{ height:1px ; width:100%; clear:both; !important}
/* Mise en forme date alignement, taille de la police , marge */
.simplicy-date_post {
font-size:10px;
 line-height:15px;
 width:100%; 
 height:15px; 
 padding-bottom:5px; 
 
 } 
 a:focus 
{ 
outline:0; 
}

/******************
****** Shortcode */
/*--titre de la colonne--*/
.simplicy-shortcode-title {
	font-size:18px;
}
/*--extrait--*/
.simplicy-excerpt-shortcode {
	padding:5px;
}
/*--clear colonne--*/
.simplicy-shortcode-clear {
	width:100%;
	height:1px;
	clear:both;
}

/*--article seul--*/
.simplicy-post-view-item{
	margin-top:15px;
}

/*--read more--*/
.simplicy-read-more a{
	
}
.simplicy-read-more a:hover{
	
}
/*--image--*/
.simplicy-shortcode-img{
	padding:5px;
}